<html>

<body>
<form> action="/signup" method="POST"
<div> class="input-container">
        <i class="fa fa-user icon"></i>
        <input class="input-field" type="text" placeholder="Email" name="email">
      </div>


</form>

<form>
  <lanbel for="gmail">your gmail:</lanbel><br>
  <input type="text" id="gmail" name="gmail"><br>
  <label for="password"> your password:</label><br>
  <input type="text" id="password" name="password">
  <input type="submit" value="submit">
</form>
<a href="/signin" style="color:white">Already have an account? Log in!</a>




</body>
</html>