<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>home</title>
<style>
body {text-align: center;}
</style>
</head>
<body>
<h1> Choose your artist</h1>
<h2>
	{% for artist in artists.values()%}
	<a href="{{url_for('artist',name=artist['dbname'])}}"><button>{{artist["dbname"]}}</button></a>
	{%endfor%}"]}})><
<a href="/monte"><button>CM</button></a>





<a href = "/monte" width = "400"> 
<a href="add"><button>you don't see your favorite artist CLICK HERE </button></a>




</body>
</html>