<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;} 
form {text-align: center;}
body {text-align: center;} 
</style>
</head>
<body>

<h1>Want to know more about your favourte artist</h1>
<p>SIGN UP HERE</p> 
<form action = "/signup2024" method="POST">

<input type="text" id="Username" name="Username" placeholder="Enter your Username" >
<input type="text" id="email" name="email" placeholder="Enter your email" >
<input type="password"id="password" name="password"placeholder="Enter your Password" >
<input type="submit" value="Sign Up!">

</form>

</body>
</html>



